[Desktop Entry]
Name=KClock_KWeather_3x3
Name[ca]=KClock_KWeather_3x3
Name[ca@valencia]=KClock_KWeather_3x3
Name[el]=KClock_KWeather_3x3
Name[en_GB]=KClock_KWeather_3x3
Name[es]=KClock_KWeather_3x3
Name[et]=KClock_KWeather_3x3
Name[eu]=KClock_KWeather_3x3
Name[fr]=KClock_KWeather_3x3
Name[it]=KClock_KWeather_3x3
Name[ko]=KClock_KWeather_3x3
Name[nl]=KClock_KWeather_3x3
Name[nn]=Klokke-vêrmelding (3 × 3)
Name[pt]=KClock_KWeather_3x3
Name[pt_BR]=KClock_KWeather_3x3
Name[ro]=KClock_KWeather_3x3
Name[sk]=KClock_KWeather_3x3
Name[sl]=KClock_KWeather_3x3
Name[sv]=KClock_KWeather_3x3
Name[uk]=KClock_KWeather_3x3
Name[x-test]=xxKClock_KWeather_3x3xx
Comment=KClock widget (3x3 with Weather info)
Comment[ca]=Estri del KClock (3x3 amb informació meteorològica)
Comment[ca@valencia]=Estri del KClock (3x3 amb informació meteorològica)
Comment[el]=Γραφικό συστατικό KClock (3x3 με πληροφορίες για τον καιρό)
Comment[en_GB]=KClock widget (3x3 with Weather info)
Comment[es]=Widget de KClock (3x3 con información meteorológica)
Comment[et]=KClocki vidin (3x3 koos ilmateatega)
Comment[eu]=KClock trepeta (3x3 eguraldiari buruzko informazioarekin)
Comment[fr]=Composant graphique KClock (3x3 avec les informations de météo)
Comment[it]=Oggetto KClock (3x3 con informazioni meteorologiche)
Comment[ko]=KClock 위젯(3x3, 날씨 정보 포함)
Comment[nl]=KClock-widget (3x3 met weerinformatie)
Comment[nn]=Klokke-element (3 × 3, med vêrmelding)
Comment[pt]=Elemento gráfico do KClock (3x3 com Dados Meteorológicos)
Comment[pt_BR]=Widget do KClock (3x3 com informação do tempo)
Comment[ro]=Control grafic KClock (3x3 cu informații despre vreme)
Comment[sk]=KClock widget (3x3 s info o počasí)
Comment[sl]=Gradnik KClock (3x3 z vremenskimi podatki)
Comment[sv]=KClock grafisk komponent (3 x 3 med väderinformation)
Comment[uk]=Віджет KClock (3x3 із даними щодо погоди)
Comment[x-test]=xxKClock widget (3x3 with Weather info)xx


Icon=kclock
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kclock_kweather_3x3

X-Plasma-Provides=org.kde.plasma.time
X-Plasma-DBusActivationService=org.kde.kclock.*

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=ApplicationStatus

X-KDE-PluginInfo-Author=HanY
X-KDE-PluginInfo-Email=hanyoung@protonmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.kclock_kweather_3x3
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

