*.qmlc
build/
.kdev4/
kirigamiclock.kdev4
CMakeLists.txt.user
/cmake-build-debug
/.idea
/test.sh
/flatpak-build-desktop
/.flatpak-builder
/mobiletest.sh
kirigamiclock.cflags

kirigamiclock.config

kirigamiclock.creator

kirigamiclock.creator.user

kirigamiclock.cxxflags

kirigamiclock.files

kirigamiclock.includes
