# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: none
[Desktop Entry]
# ctxt: plasma runner
Name=Clock
Name[ar]=الساعة
Name[bg]=Часовник
Name[ca]=Rellotge
Name[ca@valencia]=Rellotge
Name[es]=Reloj
Name[eu]=Erlojua
Name[fi]=Kello
Name[fr]=Horloge
Name[gl]=Reloxo
Name[he]=שעון
Name[hu]=Óra
Name[ia]=Horologio
Name[it]=Orologio
Name[ka]=საათი
Name[ko]=시계
Name[lv]=Pulkstenis
Name[nl]=Klok
Name[nn]=Klokke
Name[pl]=Zegar
Name[pt_BR]=Relógio
Name[ru]=Часы
Name[sl]=Ura
Name[sv]=Klocka
Name[tr]=Saat
Name[uk]=Годинник
Name[zh_CN]=时钟
Name[zh_TW]=時鐘
Comment=Find timers and start/stop them
Comment[ar]=ابحث عن المؤقتات وقم ببدء تشغيلها/إيقافها
Comment[bg]=Намиране, стартиране и спиране на таймери
Comment[ca]=Cerca temporitzadors i els inicia/atura
Comment[ca@valencia]=Busca temporitzadors i els inicia/para
Comment[es]=Buscar temporizadores e iniciarlos o detenerlos
Comment[eu]=Aurkitu aurkitu eta haiek abiarazi/geldiarazi
Comment[fi]=Etsi ajastimia ja käynnistä tai pysäytä niitä
Comment[fr]=Recherchez des minuteries et démarrez / arrêtez-les
Comment[gl]=Atopa temporizadores e iníciaos ou detenos.
Comment[he]=איתור מתזמנים והתחלתם/עצירתם
Comment[hu]=Időzítők keresése és indítása/leállítása
Comment[ia]=Trova chronometros e starta/stoppa los
Comment[it]=Trova i timer, poi fermali o avviali
Comment[ka]=იპოვეთ ტაიმერები და გააჩერეთ/დაიწყეთ ისინი
Comment[ko]=타이머를 찾고 시작/정지함
Comment[lv]=Atrodiet taimerus un tos sāciet/apturiet
Comment[nl]=Zoek naar timers en start/stop ze
Comment[nn]=Finn nedteljingar og start/stopp dei
Comment[pl]=Znajdź czasomierz i zaczyni lub go zatrzymaj
Comment[pt_BR]=Localizar temporizadores e  inciar/parar eles
Comment[sl]=Poišči časovnike in jih zaženi/ustavi
Comment[sv]=Hitta timers och starta eller stoppa dem
Comment[tr]=Sayaçları bul ve onları başlat/durdur
Comment[uk]=Пошук таймерів та їхній запуск/зупинення
Comment[zh_CN]=查找计时器并开始/停止计时
Comment[zh_TW]=搜尋計時器並且開始/停止它們
Type=Service
Icon=org.kde.kclock
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@broulik.de
X-KDE-PluginInfo-Name=kclock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.kde.kclockd
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Syntaxes=:q:,timer,alarm
X-Plasma-Runner-Syntax-Descriptions=Finds timers whose name match :q:,Lists all timers and allows to start/stop them.,Lists all alarms and allows to enable/disable them.
X-Plasma-Runner-Syntax-Descriptions[ar]=يبحث عن المؤقتات التي يتطابق اسمها مع :q:، ويسرد جميع المؤقتات ويسمح ببدء تشغيلها/إيقافها، ويسرد جميع المنبهات ويسمح بتمكينها/تعطيلها.
X-Plasma-Runner-Syntax-Descriptions[bg]=Намира таймери, чието име съвпада с :q:.Показва всички таймери и позволява да ги стартирате/спирате. Показва всички аларми и позволява да ги активирате/деактивирате.
X-Plasma-Runner-Syntax-Descriptions[ca]=Troba temporitzadors el nom dels quals coincideixi amb :q:,Llista tots els temporitzadors i permet iniciar/aturar-los.,Llista totes les alarmes i permet activar/desactivar-les.
X-Plasma-Runner-Syntax-Descriptions[ca@valencia]=Troba temporitzadors el nom dels quals coincidisca amb :q:,Llista tots els temporitzadors i permet iniciar/parar-los.,Llista totes les alarmes i permet activar i desactivar-les.
X-Plasma-Runner-Syntax-Descriptions[es]=Encuentra temporizadores cuyo nombre coincida con :q:,Lista todos los temporizadores y permite iniciarlos o detenerlos,Lista todas las alarmas y permite activarlas o desactivarlas.
X-Plasma-Runner-Syntax-Descriptions[eu]=Izena :q:-rekin bat datozen tenporizadoreak aurkitzen ditu,Tenporizadore denak zerrendatu eta haiek abiarazteko/geldiarazteko aukera ematen dizu.,Alarma denak zerrendatu eta haiek gaitzeko/ezgaitzek aukera ematen dizu.
X-Plasma-Runner-Syntax-Descriptions[fi]=Etsi ajastimia, joiden nimi vastaa hakua :q:,Luettelee kaikki ajastimet ja antaa käynnistää ja pysäyttää niitä.,Luettelee kaikki hälytykset ja antaa ottaa niitä käyttöön tai poistaa käytöstä.
X-Plasma-Runner-Syntax-Descriptions[fr]=Trouve les minuteries dont le nom correspond à :q :. Liste toutes les minuteries et permet de les démarrer / arrêter. Liste toutes les alarmes et permet de les activer / désactiver.
X-Plasma-Runner-Syntax-Descriptions[gl]=Atopa temporizadores cun nome que coincida con :q:.,Lista todos os temporizadores e permite inicialos e detelos.,Lista todas as alarmas e permite conmutalas.
X-Plasma-Runner-Syntax-Descriptions[he]=איתור מתזמנים שהשמות שלהם עונים על :q:,הצגת כל המתזמנים ומתן אפשרותלהתחלה/עצירה שלהם.,הצגת כל ההתראות ומתן אפשרות להפעיל/להשבית אותן.
X-Plasma-Runner-Syntax-Descriptions[hu]=Megkeresi a :q: névre illeszkedő időzítőket. Felsorolja az összes időzítőt, és lehetővé teszi azok elindítását/leállítását. Felsorolja az összes riasztást, és lehetővé teszi azok be- vagy kikapcsolását.
X-Plasma-Runner-Syntax-Descriptions[ia]=Trova chronometros cuje nomine corresponde a :q:, Lista omne chronometros e permitte startar/stoppar los, Lista omne alarmas e permitte habilitar/dishabilitar los.
X-Plasma-Runner-Syntax-Descriptions[it]=Trova i timer il cui nome corrisponde a :q:,Elenca tutti i timer e permette di fermarli o di avviarli.,Elenca tutti gli allarmi e permette di fermarli o di avviarli.
X-Plasma-Runner-Syntax-Descriptions[ka]=იპოვეთ ტაიმერები, რომლის სახელები ემთხვევა:q:-ს. გაჩვენებთ ყველა ტაიმერის სიას და საშუალებას გაძლევთ, გაუშვათ/გააჩეროთ ისინი. ჩამოთვლის ყველა განგაშს და საშუალებას გაძლევთ, ჩართოთ/გამორთოთ ისინი.
X-Plasma-Runner-Syntax-Descriptions[ko]=이름이 :q:인 타이머를 검색합니다,모든 타이머를 표시하고 시작/정지를 선택할 수 있습니다,모든 알람을 표시하고 활성화/비활성화할 수 있습니다.
X-Plasma-Runner-Syntax-Descriptions[lv]=Atrod taimerus, kuru nosaukums atbilst :q:,Uzskaita visus taimerus un ļauj tos sākt/apturēt.,Uzskaita visus signālus un ļauj tos ieslēgt/izslēgt.
X-Plasma-Runner-Syntax-Descriptions[nl]=Vindt timers waarvan de naam overeenkomt met :q:, zet alle timers in een lijst en biedt het starten/stoppen van hen. Maak van alle alarmen een lijst en biedt ze in/uit te schakelen.
X-Plasma-Runner-Syntax-Descriptions[nn]=Finn nedteljingar med namn som inneheld :q:,Viser alle nedteljingar og lèt deg starta/stoppa dei.,Viser alle alarmar og lèt deg slå dei på/av.
X-Plasma-Runner-Syntax-Descriptions[pl]=Znajduje czasomierze, który nazwy pasują do :q:,Wypisuje wszystkie czasomierze i umożliwia ich rozpoczęcie lub zatrzymanie.,Wypisuje wszystkie alarmy i umożliwia ich rozpoczęcie lub zatrzymanie.
X-Plasma-Runner-Syntax-Descriptions[pt_BR]=Encontra temporizadores cujos nomes correspondem a :q:,Lista todos os temporizadores e permite iniciar/parar eles.,Lista todos os alarmes e permite habilitar/desabilitar eles.
X-Plasma-Runner-Syntax-Descriptions[sl]=Poišče časovnike, katerih imena se ujemajo :q:,Navede vse časovnike in jim omogoči zagon/ustavitev.,Navede vse alarme in omogoči njihovo omogočanje/onemogočanje.
X-Plasma-Runner-Syntax-Descriptions[sv]=Hittar en timer vars namn matchar :q:, Listar alla timers och gör det möjligt att starta eller stoppa dem. Listar alla alarm och gör det möjligt att aktivera eller inaktivera dem.
X-Plasma-Runner-Syntax-Descriptions[tr]=Adı :q: ile eşleşen sayaçları bul,Tüm sayaçları listeler ve onları başlatmaya/durdurmaya olanak tanır.,Tüm çalar saatleri listeler ve onları etkinleştirmeye/devre dışı bırakmaya olanak tanır.
X-Plasma-Runner-Syntax-Descriptions[uk]=Шукає таймери, чиї назви відповідають критерію :q:,Показує усі таймери і надає змогу запускати/зупиняти їх.,Показує список усіх будильників і надає змогу вмикати/вимикати їх.
X-Plasma-Runner-Syntax-Descriptions[zh_CN]=查找名称匹配 :q: 的计时器，列出所有这些计时器以便开始/停止计时。列出所有闹钟以便启用/禁用它们。
X-Plasma-Runner-Syntax-Descriptions[zh_TW]=尋找名稱符合 :q: 的計時器,列出所有計時器並提供開始/停止它們的選項。,列出所有鬧鐘並提供啟用/停用它們的選項。
