# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: none
[Desktop Entry]
# ctxt: plasma runner
Name=Clock
Name[bg]=Часовник
Name[ca]=Rellotge
Name[ca@valencia]=Rellotge
Name[es]=Reloj
Name[ka]=საათი
Name[nl]=Klok
Name[sl]=Ura
Name[tr]=Saat
Name[uk]=Годинник
Name[x-test]=xxClockxx
Name[zh_CN]=时钟
Comment=Find timers and start/stop them
Comment[bg]=Намиране, стартиране и спиране на таймери
Comment[ca]=Cerca temporitzadors i els inicia/atura
Comment[ca@valencia]=Busca temporitzadors i els inicia/para
Comment[es]=Buscar temporizadores e iniciarlos o detenerlos
Comment[ka]=იპოვეთ ტაიმერები და გააჩერეთ/დაიწყეთ ისინი
Comment[nl]=Zoek naar timers en start/stop ze
Comment[sl]=Poišči časovnike in jih zaženi/ustavi
Comment[tr]=Sayaçları bul ve onları başlat/durdur
Comment[uk]=Пошук таймерів та їхній запуск/зупинення
Comment[x-test]=xxFind timers and start/stop themxx
Type=Service
Icon=org.kde.kclock
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@broulik.de
X-KDE-PluginInfo-Name=kclock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.kde.kclockd
X-Plasma-Runner-Min-Letter-Count=3
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Syntaxes=:q:,timer,alarm
X-Plasma-Runner-Syntax-Descriptions=Finds timers whose name match :q:,Lists all timers and allows to start/stop them.,Lists all alarms and allows to enable/disable them.
X-Plasma-Runner-Syntax-Descriptions[bg]=Намира таймери, чието име съвпада с :q:.Показва всички таймери и позволява да ги стартирате/спирате. Показва всички аларми и позволява да ги активирате/деактивирате.
X-Plasma-Runner-Syntax-Descriptions[ca]=Troba temporitzadors el nom dels quals coincideixi amb :q:,Llista tots els temporitzadors i permet iniciar/aturar-los.,Llista totes les alarmes i permet activar/desactivar-les.
X-Plasma-Runner-Syntax-Descriptions[ca@valencia]=Troba temporitzadors el nom dels quals coincidisca amb :q:,Llista tots els temporitzadors i permet iniciar/parar-los.,Llista totes les alarmes i permet activar i desactivar-les.
X-Plasma-Runner-Syntax-Descriptions[es]=Encuentra temporizadores cuyo nombre coincida con :q:,Lista todos los temporizadores y permite iniciarlos o detenerlos,Lista todas las alarmas y permite activarlas o desactivarlas.
X-Plasma-Runner-Syntax-Descriptions[ka]=იპოვეთ ტაიმერები, რომლის სახელები ემთხვევა:q:-ს. გაჩვენებთ ყველა ტაიმერის სიას და საშუალებას გაძლევთ, გაუშვათ/გააჩეროთ ისინი. ჩამოთვლის ყველა განგაშს და საშუალებას გაძლევთ, ჩართოთ/გამორთოთ ისინი.
X-Plasma-Runner-Syntax-Descriptions[nl]=Vindt timers waarvan de naam overeenkomt met :q:, zet alle timers in een lijst en biedt het starten/stoppen van hen. Maak van alle alarmen een lijst en biedt ze in/uit te schakelen.
X-Plasma-Runner-Syntax-Descriptions[sl]=Poišče časovnike, katerih imena se ujemajo :q:,Navede vse časovnike in jim omogoči zagon/ustavitev.,Navede vse alarme in omogoči njihovo omogočanje/onemogočanje.
X-Plasma-Runner-Syntax-Descriptions[tr]=Adı :q: ile eşleşen sayaçları bul,Tüm sayaçları listeler ve onları başlatmaya/durdurmaya olanak tanır.,Tüm çalar saatleri listeler ve onları etkinleştirmeye/devre dışı bırakmaya olanak tanır.
X-Plasma-Runner-Syntax-Descriptions[uk]=Шукає таймери, чиї назви відповідають критерію :q:,Показує усі таймери і надає змогу запускати/зупиняти їх.,Показує список усіх будильників і надає змогу вмикати/вимикати їх.
X-Plasma-Runner-Syntax-Descriptions[x-test]=xxFinds timers whose name match :q:,Lists all timers and allows to start/stop them.,Lists all alarms and allows to enable/disable them.xx
