#
# Copyright 2020 Han Young <hanyoung@protonmail.com>
# Copyright 2020-2021 Devin Lin <espidev@gmail.com>
#
# SPDX-License-Identifier: GPL-2.0-or-later
#

[Desktop Entry]
Name=Clock
Name[ar]=الساعة
Name[ca]=Rellotge
Name[ca@valencia]=Rellotge
Name[cs]=Hodiny
Name[de]=Clock
Name[el]=Ρολόι
Name[en_GB]=Clock
Name[es]=Reloj
Name[et]=Kell
Name[eu]=Erlojua
Name[fi]=Kello
Name[fr]=Horloge
Name[hi]=घड़ी
Name[it]=Orologio
Name[ko]=시계
Name[nl]=Klok
Name[nn]=Klokke
Name[pa]=ਘੜੀ
Name[pl]=Zegar
Name[pt]=Relógio
Name[pt_BR]=Relógio
Name[ro]=Ceas
Name[sk]=Hodiny
Name[sl]=Clock
Name[sv]=Klocka
Name[uk]=Годинник
Name[x-test]=xxClockxx
Name[zh_CN]=时钟
Comment=Set alarms and timers, use a stopwatch, and manage world clocks
Comment[ar]=تعين المنبهات والمؤقتات، واستخدم ساعة الإيقاف، وأدر الساعات العالمية
Comment[ca]=Establiu alarmes i temporitzadors, useu un cronòmetre i gestioneu els rellotges mundials
Comment[es]=Defina alarmas y temporizadores, use un cronómetro y gestione relojes del mundo
Comment[fr]=Régler des alarmes et des minuteurs, utiliser un chronomètre et gérer les horloges mondiales.
Comment[nl]=Zet alarmen en timers, gebruik een stopwatch en beheer wereldklokken
Comment[pl]=Ustawiaj alarmy i czasomierze, używaj stopera i zarządzaj zegarami światowymi
Comment[pt_BR]=Definir alarmes e temporizadores, use um cronômetro e gerencie relógios mundiais
Comment[sl]=Nastavi alarme in odštevalnike časa, uporabljaj štoparico in upravljaj z urami po svetu
Comment[sv]=Ställ in alarm och tidtagare, använd ett stoppur, och hantera världsklockor
Comment[uk]=Встановіть нагадування та таймери, скористайтеся секундоміром і керуйте показом часу з усього світу
Comment[x-test]=xxSet alarms and timers, use a stopwatch, and manage world clocksxx
Exec=kclock
Icon=kclock
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
X-KDE-FormFactor=desktop;tablet;handset;
