[Desktop Entry]
Name=kirigamiclock
Comment=A simple all in one clock application.
Version=1.0
Exec=kirigamiclock
MimeType=application/x-kirigamiclock;
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
