[Desktop Entry]
Name=KClock
Name[ar]=KClock
Name[az]=KClock
Name[ca]=KClock
Name[ca@valencia]=KClock
Name[cs]=KClock
Name[da]=KClock
Name[de]=KClock
Name[en_GB]=KClock
Name[es]=KClock
Name[et]=KClock
Name[eu]=KClock
Name[fi]=KClock
Name[fr]=KClock
Name[gd]=KClock
Name[gl]=KClock
Name[hu]=KClock
Name[ia]=KClock
Name[id]=KClock
Name[it]=KClock
Name[ko]=KClock
Name[lt]=KClock
Name[nb]=KClock
Name[nl]=KClock
Name[nn]=KClock
Name[pl]=KClock
Name[pt]=KClock
Name[pt_BR]=KClock
Name[ru]=KClock
Name[sk]=KClock
Name[sl]=KClock
Name[sr]=KClock
Name[sr@ijekavian]=KClock
Name[sr@ijekavianlatin]=KClock
Name[sr@latin]=KClock
Name[sv]=KClock
Name[tg]=KClock
Name[tr]=KClock
Name[uk]=KClock
Name[x-test]=xxKClockxx
Name[zh_CN]=KClock
Name[zh_TW]=時鍾
Comment=KClock widget
Comment[en_GB]=KClock widget
Comment[x-test]=xxKClock widgetxx
Comment[zh_TW]=時鍾部件


Icon=kclock
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kclock

X-Plasma-Provides=org.kde.plasma.time

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=ApplicationStatus
X-Plasma-DBusActivationService=org.kde.kclock.*

X-KDE-PluginInfo-Author=HanY
X-KDE-PluginInfo-Email=hanyoung@protonmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.kclock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

