[Desktop Entry]
Name=KClock
Name[ca]=KClock
Name[ca@valencia]=KClock
Name[es]=KClock
Name[fr]=KClock
Name[nl]=KClock
Name[pt]=KClock
Name[sl]=KClock
Name[sv]=Klocka
Name[uk]=KClock
Name[x-test]=xxKClockxx
Comment=KClock widget
Comment[ca]=Estri del KClock
Comment[ca@valencia]=Estri del KClock
Comment[es]=Elemento gráfico KClock
Comment[fr]=Composant graphique « KClock »
Comment[nl]=KClock-widget
Comment[pt]=Item do KClock
Comment[sl]=Gradnik KClock
Comment[sv]=Grafisk klockkomponent
Comment[uk]=Віджет KClock
Comment[x-test]=xxKClock widgetxx


Icon=kclock
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kclock

X-Plasma-Provides=org.kde.plasma.time

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=ApplicationStatus
X-Plasma-DBusActivationService=org.kde.kclock.*

X-KDE-PluginInfo-Author=HanY
X-KDE-PluginInfo-Email=hanyoung@protonmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.kclock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

